*, *::before, *::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  background: #073991;
  font-family: 'DM Sans', sans-serif;
}

#root {
  width: 100%;
}