*, *::before, *::after {
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background: #073991;
  font-family: 'DM Sans', sans-serif;
  
  overflow-x: hidden;
}

#root {
  width: 100%;
}